{% extends "base.html" %}
{% load static %}
{% load carts_tags %}


{% block content %}
{% user_carts request as carts %}
<div class="user-cart mt-5">
    <div class="row justify-content-center">
        <div class="p-4 mb-5">
            <div class="container" id="cart-items-container">
                <!-- Разметка корзины -->
                {% include "carts/includes/included_cart.html" %}
                <!-- Закончилась разметка корзины -->
            </div>
        </div>
    </div>
    </div>
{% endblock  %}