{% extends 'base.html' %}

{% block content %}

<h1>Заказы</h1>
    <a class="btn btn-secondary" href="{% url 'admin_panel:order_create' %}">Создать новый заказ</a>
    {% for order in orders %}
        <div class="mb-3">
            <h4>{{ order }}</h4>
            <p>Статус: {{ order.status }}</p>
            <a class="btn btn-secondary" href="{% url 'admin_panel:order_detail' order.pk %}">Детали</a>
            <a class="btn btn-warning" href="{% url 'admin_panel:order_edit' order.pk %}">Редактировать</a>
            <a class="btn btn-danger" href="{% url 'admin_panel:order_delete' order.pk %}">Удалить</a>
        </div>
    {% endfor %}
    <a class="btn btn-secondary" href="{% url 'admin_panel:dashboard' %}">Назад</a>
{% endblock %}